* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #5a5a5a;
  color: #ffffff;
  padding-bottom: 40px;
}
.text-overlay {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.6);
  margin-top: 0;
  height: 100px;
}
